<div role='banner' class="header-transit">
{{#if @blog.logo}}<a class="logo-transit" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
<h1>
<a class="blogtitle-transit" title="{{@blog.title}}" href='{{@blog.url}}'>
{{{@blog.title}}}
</a>
</h1>
<p class="blogdescription-transit">
{{@blog.description}}
</a>
</p>
<nav>{{navigation}}</nav>
</div>