{{!< default}}
{{> header}}
<main class="main-transit" role="main">
{{#foreach posts}}
<article class="article-transit" role="article" itemscope itemtype="http://schema.org/Article">
<header class="postheader-transit">
<h2 class="posttitle-transit" itemprop="headline"><a class="postlink-transit" href="{{{url}}}" rel="bookmark">{{title}}</a></h2>
<br>
<time class="date-transit" datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">{{date format='dddd DD MMM YYYY'}}</time>
</header>
{{/foreach}}
</article>
{{#if pagination}}
<div class="pagination-transit">
{{{pagination}}}
</div>
{{/if}}
{{#get "tags" limit="all"}}
    <div class="tags">
        {{tags separator=" | "}}
    </div>
{{/get}}
</main>
{{> footer}}