{{!< default}}
{{> header}}
<main class="main-transit" role="main">
{{#foreach posts}}
<article class="article-transit" role="article" itemscope itemtype="http://schema.org/Article">
<header class="postheader-transit">
<h1 class="posttitle-transit" itemprop="headline"><a class="postlink-transit"href="{{{url}}}" rel="bookmark">{{title}}</a></h1>
<br>
<time class="date-transit" datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">{{date format='dddd DD MMM YYYY'}}</time>
</header>
{{!-- {{#if tags}}
<div class="posttags-transit">
Tags: {{tags separator=" | "}}
</div>
{{/if}} --}}
{{/foreach}}
</article>
{{#if pagination}}
<div class="pagination-transit">
{{{pagination}}}
</div>
{{/if}}
</main>
{{> footer}}