{{!< default}}
{{> header}}
<main class="main-transit" role="main">
{{#post}}
<article class="article-transit" role="article" itemscope itemtype="http://schema.org/Article">
<header class="postheader-transit">
<h1 class="posttitle-transit" itemprop="headline">{{title}}</h1>
<div class="date-transit">
Posted on <time datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">{{date format='dddd DD MMM YYYY'}}</time>
</div>
</header>
<div class="postcontent-transit" itemprop="articleBody">
{{#if feature_image}}
<img src="{{feature_image}}" alt="{{title}}">
{{/if}}
{{content}}
</div>
{{#if tags}}
<div class="posttags-transit">
Check out more about: {{tags separator=" | "}}
</div>
{{/if}}
    {{!-- <div class="sharepost-transit">
    {{!-- The share icons are commented out because I don't think I need them. Uncomment to get social.}}
    <h4 class="share-transit">Share this post: &nbsp;</h4>
    <a class="share-transit icon-twitter" target="-blank" href="http://twitter.com/share?text={{title}}&url={{url absolute="true"}}"><span class="hidethis-transit">Twitter</span></a>
    <a class="share-transit icon-facebook" target="-blank" href="http://www.facebook.com/sharer.php?u={{url absolute="true"}}"><span class="hidethis-transit">Facebook</span></a>
    <a class="share-transit icon-gplus" target="-blank" href="https://plus.google.com/share?url={{url absolute="true"}}"><span class="hidethis-transit">Google+</span></a>
    </div> --}}
        {{#if author}}
        <footer class="postfooter-transit">
        <address itemscope itemtype="http://schema.org/Person">
        {{#if author.profile-image}}
        <div class="authorimage-transit"><img src="{{author.profile-image}}" itemprop="image" /></div>
        {{/if}}
        {{!-- Because my blog has just one author I have commmented out the author info at the bottom of each post. IF you uncomment this you may also want to make an author.hbs, to have a specific author page. --}}
        {{!-- <h4 class="authorname-transit"><span itemprop="author">{{author.name}}</span></h4>
        {{#if author.website}}
        <div class="authorwebsite-transit"><a href="{{author.website}}" itemprop="url">{{author.website}}</a></div>
        {{/if}}
        </address>
        <div class="authorbio-transit">
        <p>{{author.bio}}</p>
        </div> --}}
        </footer>
        {{/if}}
</article>
{{/post}}
{{!-- You set in the Ghost admin how many posts you want to appear in each page. --}}
{{#if pagination}}
<div class="pagination-transit">
{{{pagination}}}
</div>
{{/if}}
</main>
{{> footer}}